{include file="public/header" /}

<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>节点角色</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-5 m-b-xs">
                        <a href="javascript:window.history.go(-1);" class="btn btn-success btn-sm">返回</a>
                        <a href="javascript:void(0);" class="btn btn-warning btn-sm reload">刷新</a>
                    </div>
                    <div class="col-sm-4 m-b-xs">
                    </div>
                    <div class="col-sm-3 m-b-xs">
                    </div>
                </div>
                <form class="form-horizontal m-t form-post-submit add-submit-form" action="/role/edit" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">角色名称 ：</label>
                        <div class="col-sm-4">
                            <input type="hidden" name="auth_code" value="{$data.auth_code}">
                            <input name="auth_name" type="text" value="{$data.auth_name}" class="form-control" required autofocus="autofocus">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label">后台权限设置 ：</label>
                        <div class="col-sm-9">
                            {volist name='node' id='v'}
                             <label><input type="checkbox" {in name='$v.id' value="$data.admin_code"}checked{/in} name="admin_code[]" value="{$v.id}">&nbsp;{$v.remark}</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            {/volist}
                                                    
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">收银台权限 ：</label>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <input type="radio" name="action_code" id="action_code0" value="2" {eq name='$data.action_code' value="2" }checked{/eq}>
                                </div>
                                <label class="form-control" for="action_code0">无</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <input type="radio" name="action_code" id="action_code1" value="1" {eq name='$data.action_code' value="1" }checked{/eq}>
                                </div>
                                <label class="form-control" for="action_code1">有</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">销售系统权限 ：</label>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <input type="radio" name="sell_code" id="sell_code0" value="2" {eq name='$data.sell_code' value="2" }checked{/eq}>
                                </div>
                                <label class="form-control" for="sell_code0">无</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <input type="radio" name="sell_code" id="sell_code1" value="1" {eq name='$data.sell_code' value="1" }checked{/eq}>
                                </div>
                                <label class="form-control" for="sell_code1">有</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-3">
                            <button class="btn btn-primary add-submit-buttom" type="submit">确认保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{include file="public/footer" /}
<script type="text/javascript">
    $(function(){
       $('.add-submit-buttom').click(function(e){
            e.preventDefault();
            var f = $(".add-submit-form"), url = f.attr('action'), d = f.serialize();
            $.post(url, d, function(r){
                if(r.code == 200){
                    window.location.href='/role/index';
                }else{
                    layer.alert(r.msg);
                }
            }, 'json');
        }) 
    })
</script>

