{include file="public/header" /}

<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>新增员工</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-5 m-b-xs">
                        <a href="javascript:window.history.go(-1);" class="btn btn-success btn-sm">返回</a>
                        <a href="javascript:void(0);" class="btn btn-warning btn-sm reload">刷新</a>
                    </div>
                    <div class="col-sm-4 m-b-xs">
                    </div>
                    <div class="col-sm-3 m-b-xs">
                    </div>
                </div>
                <form class="form-horizontal m-t form-post-submit add-submit-form" action="/staff/add" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">工号：</label>
                        <div class="col-sm-4">
                            <input name="job_number" type="text" value="" class="form-control" required autofocus="autofocus">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label">昵称：</label>
                        <div class="col-sm-4">
                            <input name="admin_user" type="text" value="" class="form-control" required autofocus="autofocus">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">真实姓名：</label>
                        <div class="col-sm-4">
                            <input name="realname" type="text" value="" class="form-control" required autofocus="autofocus">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">密码：</label>
                        <div class="col-sm-4">
                            <input name="password" type="password" value="" class="form-control" required autofocus="autofocus">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">手机号码：</label>
                        <div class="col-sm-4">
                            <input name="mobile" type="text" value="" class="form-control" required autofocus="autofocus">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">QQ:</label>
                        <div class="col-sm-4">
                            <input name="qq" type="text" value="" class="form-control" required autofocus="autofocus">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">微信:</label>
                        <div class="col-sm-4">
                            <input name="weixin" type="text" value="" class="form-control" required autofocus="autofocus">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">生日:</label>
                        <div class="col-sm-4">
                            <input name="birthday" type="date" value="" class="form-control" required autofocus="autofocus">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">性别：</label>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <input type="radio" name="sex" id="forsex0" value="2" checked>
                                </div>
                                <label class="form-control" for="forsex0">女</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <input type="radio" name="sex" id="forsex1" value="1">
                                </div>
                                <label class="form-control" for="forsex1">男</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">所属诊所：</label>
                        <div class="col-sm-6">
                        <select name="sclinic_list" class="form-control">
                            <option value="1" selected>诊所1</option>
                            <option value="2">诊所2</option>
                            <option value="3">诊所3</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">员工类型：</label>
                        <div class="col-sm-6">
                        <select name="auth_code" class="form-control">
                            <option value="0" selected>超级管理员</option>
                            <option value="1">后台管理员</option>
                            <option value="2">销售</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-3">
                            <button class="btn btn-primary add-submit-buttom" type="submit">添加员工</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{include file="public/footer" /}
<script type="text/javascript">
    $(function(){
       $('.add-submit-buttom').click(function(e){
            e.preventDefault();
            var f = $(".add-submit-form"), url = f.attr('action'), d = f.serialize();
            $.post(url, d, function(r){
                if(r.code == 200){
                    top.window.location.href='/staff/index';
                }else{
                    layer.alert(r.msg);
                }
            }, 'json');
        }) 
    })
</script>

